<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to Promanagr
			</h1>
			<h2 class="subtitle">
				A small project management application built with Ruby on Rails and Vue
			</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Why is Promanagr so awesome?</h3>
					<p>
						Lorem ipsum dolor amet affogato bespoke squid authentic forage sartorial gluten-free adaptogen blog sriracha church-key. Echo park ugh narwhal squid iPhone. Pour-over roof party bitters master cleanse, forage cronut air plant. Vaporware bitters shaman, mustache pour-over venmo heirloom messenger bag you probably haven't heard of them woke chillwave. Farm-to-table organic thundercats, chillwave church-key keytar direct trade crucifix. Lo-fi DIY hammock four loko, tilde YOLO copper mug vinyl. Narwhal marfa biodiesel, yr pabst man braid organic listicle franzen letterpress chia.
					</p>
					<p>
						Migas tofu selfies, drinking vinegar normcore fam literally ramps pitchfork chia. Brooklyn keytar slow-carb chicharrones flannel biodiesel vice vaporware art party gluten-free mustache edison bulb. Tilde cray cornhole +1 godard viral cloud bread iPhone glossier. Letterpress gochujang cloud bread thundercats, kitsch brooklyn blue bottle tofu master cleanse shoreditch farm-to-table hashtag.
					</p>
					<p>
						Green juice kitsch vexillologist tousled gluten-free deep v church-key freegan schlitz polaroid. Normcore offal polaroid selfies chicharrones portland. Swag succulents church-key, live-edge pork belly freegan artisan etsy art party forage pabst marfa stumptown raclette. Air plant trust fund meh health goth distillery fingerstache, blue bottle 8-bit fam pinterest occupy tbh chicharrones. Swag trust fund adaptogen, crucifix succulents asymmetrical 3 wolf moon hella yr. Master cleanse food truck dreamcatcher wolf selvage authentic vice seitan organic hella small batch af shaman copper mug cronut. Succulents heirloom beard butcher seitan.
					</p>
				</div>
			</div>
			<div class="column">
				<h4 class="subtitle is-4">Sign up Today</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>